@import url('https://fonts.cdnfonts.com/css/a-alley-garden');

body > header, body> nav > div > a, body>footer{
  font-family: 'a Alley Garden', sans-serif;
}

/* Fixed/sticky icon bar  */
.icon-bar {
  position: fixed; 
  bottom: 0;
  right: 0;
  z-index: 3 ; 
  background-color: #DC7A91;
  border-radius: 5px 0 0 5px;
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  color: #EFAF96
}

nav{
  background-color: #F08484;
  color: white;
  text-align: center;
}

#menu li > a {
  font-size: x-large;
  text-decoration: none;
  color: white;
}

#menu li > a:hover {
  color: #DC7A91;
}

.dropdown-item{
  color: #F08484 !important;
}

.dropdown-item:hover{
  background-color: #DC7A91!important;
  color: white!important;
}

#pleyades{
  font-family: 'a Alley Garden', sans-serif;
  color: #DC7A91;
}

.carousel-inner{
  max-height: 39rem;
}

.colorBrand1{
  color: #F9A686;
}

#nav-button{
  background-color: #F9A686; 
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
#nav-button:hover {
  background-color: #DC7A91;
  color: white!important;
}

#form-button{
  background-color: #F08484; 
  border: 1px solid white;
  color: white;
}
#form-button:hover {
  background-color: #F9A686;
  color: white;
}

#pay-button{
  background-color: #F08484; 
  border: 1px solid white;
  color: white;
}
#pay-button:hover {
  background-color: #F9A686;
  color: white;
}

#empty-cart{
  background-color: #9D98AE; 
  border: 1px solid white;
  color: white;
}
#empty-cart:hover {
  background-color: gray;
  color: white;
}

#template-card>button{
  background-color: #F9A686; 
  border: 1px solid white;
  color: white;
  font-weight: bold;
}
#template-card>button:hover {
  background-color: #F08484;
  color: white;
} 

div>div>a{
  text-decoration: none;
  color: #262626;
}

div>div>a:hover{
  color: #DC7A91;
  cursor: pointer;
}

footer{
  background-color: #F9A686;
  color: white;
  text-align: center;
}